/* Login and registration styles */
.logmain {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 100%;
    height: 100%;
  }
  .logtitle {
    font-family: 'Roboto';
    color: #2a2a2a;
    font-size: 24px;
    font-weight: bold;
  }
  .logtitle span {
    color: #1f79e5;
  }
  .logmain img {
    width: 50%;
    height: auto;
    overflow: hidden;
  }
  .logmain .login-form {
    width: 70%;
    padding: 30px;
  }
  .logmain .register-form {
    width: 70%;
    padding: 20px;
  }
  .buttonelement {
    margin-top: 20px;
    color: #1f79e5;
  }
  .linkfix {
    text-decoration: none;
  }
  .forgot-password {
    color: #7e7e7e;
    text-decoration: none;
    margin-top: 0.5rem;
    margin-bottom: 0;
    font-size: 0.9em; /* Mengurangi ukuran font */
  }
  
  /* Styles for the input fields */
  .logmain input {
    font-size: 0.9em; /* Mengurangi ukuran font di dalam input */
  }
  
  /* Styles for the checkbox label */
  .logmain .form-check-label {
    font-size: 0.9em; /* Mengurangi ukuran font pada label checkbox */
  }
  
  /* Styles for the divider and social login */
  .divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
  }
  .divider hr {
    flex-grow: 1;
    background-color: #ccc;
  }
  .divider span {
    padding: 0 10px;
    font-size: 0.8em;
  }
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-bottom: 10px; 
  }
  .social-icons img {
    width: 30px;
    cursor: pointer;
  }
  /* Styles for registration link */
  .register-link {
    font-size: 0.8em;
    margin-top: 5px; 
    text-align: center;
  }
  .register-link a,
  .register-link span {
    text-decoration: none;
    cursor: pointer;
  }
  .register-link a:hover,
  .register-link span:hover {
    text-decoration: underline;
  }
  .toggle-link {
    color: #1F79E5;
    cursor: pointer;
  }
  