/*Loogin*/
.logmain{
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 100%;
    height: 100%;
}
.logtitle{
    font-family: 'Roboto';
    color: #2A2A2A;
    font-size: 30px;
    font-weight: bold;
}
.logtitle span{
    font-family: 'Righteous';
    color: #003BAD;
}
.logmain img{
    width: 50%;
    height: auto;
    overflow: hidden;
}
.logmain form{
    width: 70%;
    padding: 50px;
}

.buttonelement{
    margin-top: 20px;
}

.linkfix{
    text-decoration: none;
}